<%- include('./partials/nav') %>
    <h1>Home Page</h1>
    <p><%= RESTAURANT.name%> </p>  
    <p>Address: <%=RESTAURANT.address%></p> 
    <p> Phone: <%= RESTAURANT.phone %></p>   

    <% if (RESTAURANT.isOpen) {%>
      <p>Yes we are open!</p>    
   <%} else {%>
       <p>Sorry, we are closed.</p>
   <%}%> 

   
</body> 
</html>